<header>
    <span><a routerLink="/"> J  i  f  f  e  r </a></span>
    <nav class="breadcrumb" aria-label="breadcrumbs">
        <ul>
            <li><a routerLink="/"> Home <i class="fas fa-home"></i></a></li>
            <li><a routerLink="/featured">  Featured GIF <i class="fas fa-photo-video"></i></a></li>
            <li><a routerLink="/eula">  User Agreement <i class="far fa-handshake"></i></a></li>
            <li><a routerLink="/login">  Log Out - Log In <i class="fas fa-sign-out-alt"></i></a></li>
        </ul>
    </nav>
</header>


<router-outlet></router-outlet>
