<section class="section" *ngIf="images.length > 1">
  <!--p class="title is-5">Featured Jiffs:</p-->
  <div class="container">
    <div class="carousel">
      <div class="item-{{i + 1}} is-justify-content-center is-flex" *ngFor="let image of images; let i = index">

        <app-jiff [uuid]="image.uuid" [name]="image.name" [carousel]="true"></app-jiff>

      </div>
    </div>
  </div>
</section>

<section class="section" *ngIf="images.length == 1">
  <div class="item-{{i + 1}} is-justify-content-center is-flex" *ngFor="let image of images; let i = index">
    <app-jiff [uuid]="image.uuid" [name]="image.name"></app-jiff>
  </div>
</section>
