<form *ngIf="CogService.cookieChecker()">
    <figure>
        <img src="assets/Jiffer.gif">
    </figure>
    <p style="font-weight: bolder;">
        already logged in, have fun creating!
    </p>
</form>

<form *ngIf="!CogService.cookieChecker()">
    <figure>
        <img src="assets/Jiffer.gif">
    </figure>

    <br>

    <div class="field">
        <label class="label"> Email </label>
        <div class="control has-icons-left">
            <input class="input is-danger is-rounded" type="email" placeholder="Email@example.com" (input)="mailcheck()" >
            <span class="icon is-small is-left">
                <i class="fas fa-envelope"></i>
            </span>
        </div>
        <p class="help is-danger" *ngIf="!validemail">This email is invalid</p>
    </div>

    <div class="field">
        <label class="label"> Password </label>
        <div class="control has-icons-left">
            <input class="input is-danger is-rounded" type="password" placeholder="Password">
            <span class="icon is-small is-left">
                <i class="fas fa-lock"></i>
            </span>
        </div>
    </div>

    <div class="field" *ngIf="registering">
        <label class="label"> Confirm Password </label>
        <div class="control has-icons-left">
            <input class="input is-danger is-rounded" type="password" placeholder="Repeat password">
            <span class="icon is-small is-left">
                <i class="fas fa-lock"></i>
            </span>
        </div>
    </div>


    <br>
    <br>

    <div class="field" *ngIf="registering">
        <input class="is-checkradio has-background-color is-danger" id="eulacheck" type="checkbox" name="eula">
        <label for="eulacheck">I agree to the <a href="#/eula">terms and conditions</a></label>
    </div>

    <div class="field is-grouped">
        <div class="control">
            <button class="button is-danger is-rounded">Submit</button>
        </div>
    </div>

    <br>

    <p *ngIf="registering">
        Already have an account? <a (click)="ChangeType()" style="font-weight: bolder; text-decoration: underline;"> Login </a>instead...
    </p>
    <p *ngIf="!registering">
        Don't have an account? <a (click)="ChangeType()" style="font-weight: bolder; text-decoration: underline;">Register </a> instead
    </p>
</form>
