* {
    color: white;
}

.card {
    width:750px;
    margin-top:20px;
    margin-left:10px;
    background-color:rgba(241, 113, 113, 0.322);
}

a {
    color:rgb(228, 69, 82);
}

.checkbox {
    margin-left:30px;
}

input.input {
    width: 450px;
    background-color:rgba(255, 255, 255, 0.63);
    color:red;
}


p {
    font-weight: bold;
    font-size: large;
}

form {
    margin-bottom: 2rem;
}

.has-addons {
    justify-content: center;
}

label{
    margin-left:20px;
}

.image{
    color: red;
}