<div class="card">
  <div class="card-content">
    <div class="content">




      <form action method="POST" enctype="multipart/form-data">
    
          <br>
          <label>Name of your GIF:</label>
          <input class="input is-danger is-rounded" type="text" name="name">
          <br>
          <br>
          <label>Frame Delay: </label>
          <input class="input is-danger is-rounded" type="number" value="100" name="delay">
          <br>
          <input id="sliderWithValue" class="slider has-output is-fullwidth is-danger" min="0" max="100" value="50" step="1" type="range">
          <output for="sliderWithValue">50</output>
          <br>
          <br>

          <div class="field">
            Featured GIF? 
            <div class="control">
              <label class="radio">
                <input type="radio" name="question">
                Yes
              </label>
              <label class="radio">
                <input type="radio" name="question" checked>
                No
              </label>
            </div>
          </div>

          <br>
          <br>
          <div class="file is-danger">
            <label class="file-label">
            <input class="file-input" type="file" multiple name="files" accept="image/png, image/jpeg">
              <span class="file-cta">
                <span class="file-icon">
                  <i class="fas fa-folder-open"></i>
                </span>
                <span class="file-label">
                Browse
                </span>
              </span>
            </label>
          </div>
          <br>
          <br>
          <button class="button is-danger" type="submit"> Submit </button>
          <br>
          <label class="checkbox">
            <input type="checkbox">
            I agree to the <a href="#">terms and conditions</a>
          </label>
  
        </form>

  
    </div>
  </div>
</div>